* {box-sizing: border-box;}

.form_body {
    height: 600px;
    width: 600px;
    /* border: 11px orange solid; */
    position: relative;
    margin: 1%;
    min-height: 500px;
}

.formular_container {
   display: block;
   flex-direction: column;
   align-items: center;
   /* border: 1px solid; */
   position: relative;
   width: 80%;
   height: 500px;
   
}
.counter {
    /* background-color: aqua; */
    display: block;
    height: 10px;
    width: 80%;
    text-align: right;
}
.counter__label {
width: 80%;
display: block;
text-align: right;
}

.formular {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 3px black solid;
}

.form-title {
    display: block;
    border: 2px black solid;
    width: 100%;
    min-height: 50px;
    text-align: center;
    font-size: xx-large;
}

.formular__textarea {
    display: block;
    background-color: transparent;
    width: 80%;
    height: 120px;
    min-height: 20px;
    border: 2px black solid;
    font-size: 2rem;
}





.formular__label {
    text-align: left;
    width: 80%;
    border: none;
    font-style: italic;
}

.tag {
    display: block;
    width: 80%;
    height: 40px;
    border: 2px solid black;
}

.tag[type=text]{
    display: block;
    font-size: 1.6rem;
}




.space {
    height: 10px;
}

.submit_button {
    position: relative;
    width: 20vw;
    border: black 2px solid;
    background-color: transparent;
}

@media (min-width: 600px) {
    .submit_button {
        width: 20%;
        background-color: aqua;
    }
    .form_body
     {
        width: 600px;
        /* height: 100vh; */
        /* border: red 12px solid; */
    }
}

@media (min-height: 600px) {
    .form_body
    {
        height: 100vh;
    }
}




.navigation {
    width: 100%;
    position: relative;
    /* border: 3px salmon solid; */
}

@media (min-width: 600px) {
    .navigation {
        /* width: 600px; */
    }
}

.navigation__list {
    border: 3px solid;
    width: 100%;
}